{% extends "base.html" %}

{% block head %}
<title>Location Tracker</title>
{% endblock %}

{% block body %}

<div id="header">
    <h1>Location Tracker</h1>
</div>

<div id="backgroundloop">
    <img
        id="sshot"
        src="{{ url_for('static', filename='resources/loop1.jpg') }}"
        alt="Background animation"
    >
</div>

<div id="noti">
    Type an IP address or a number along with the country code to see the location
</div>

<div id="main">
    <form
        id="forms"
        name="form1"
        action="/"
        method="POST"
    >
        <input
            type="text"
            id="pn"
            name="pnumber"
            placeholder="IP, Number with country code"
            autocomplete="off"
        >

        <br><br>

        <button
            id="send"
            onclick="this.innerHTML='Decoding...'"
            type="submit"
        >
            Get Location
        </button>
    </form>

    <br><br><br><br><br>
</div>

<div id="locate"></div>

<script>
    const imgs = document.getElementById("sshot");
    let i = 1;

    setInterval(() => {
        if (i === 1) imgs.src = "{{ url_for('static', filename='resources/loop1.jpg') }}";
        if (i === 2) imgs.src = "{{ url_for('static', filename='resources/loop2.jpg') }}";
        if (i === 3) imgs.src = "{{ url_for('static', filename='resources/loop3.jpg') }}";
        if (i === 4) imgs.src = "{{ url_for('static', filename='resources/loop4.jpg') }}";
        if (i === 5) imgs.src = "{{ url_for('static', filename='resources/loop5.jpg') }}";
        if (i === 6) imgs.src = "{{ url_for('static', filename='resources/loop6.jpg') }}";
        if (i === 7) imgs.src = "{{ url_for('static', filename='resources/loop7.jpg') }}";

        if (i > 7) i = 1;
        i++;
    }, 5000);
</script>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<footer>
    Copyright &copy; Evavictor 2024
</footer>

{% endblock %}
